.suggestion-button-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: center;
}

.suggestion-button-content :after {
  display: block;
  margin: 11px;
  flex: 999 999 auto;
}

.item {
  flex: 0 0 auto;
  margin: 11px;
}

.suggestion-button-content > div {
  border: 1px solid rgb(15, 73, 199);
  width: 210px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.suggestion-button-content > div h5 {
  padding: 5px;
}
