.suggestion-button-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.suggestion-button-content > div {
  border: 1px solid rgb(15, 73, 199);
  width: 200px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.suggestion-button-content > div h5 {
  padding: 5px;
}

.button {
  border-radius: 4px;
  background-image: linear-gradient(
    to left,
    rgba(232, 235, 241, 0),
    rgba(0, 81, 255, 0.493)
  );
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
