.sidenav {
  height: 60%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 100px;

  background-color: rgb(58, 58, 58);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: x-large;
  color: #818181;
  display: block;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 260px; /* Same as the width of the sidenav */
  /* Increased text to enable scrolling */
}
.main h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(3, 3, 0);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}
.viewall-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 60px;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid rgb(20, 26, 26);
  color: rgb(58, 29, 112);
  cursor: pointer;
}
.paginationBttns a:hover {
  color: white;
  background-color: violet;
}
.paginationActive a {
  color: white;
  background-color: violet;
}
