.pd-details-content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.pd-details-left-content img {
  margin-right: 30px;
}

.pd-details-left-content {
  background-image: linear-gradient(
    to left,
    rgba(232, 235, 241, 0),
    rgba(0, 81, 255, 0.493)
  );
  display: flex;
  justify-content: space-evenly;
  max-width: 50%;
  padding: 30px;
  align-items: center;

  font-size: 20px;
}
.pd-details-addcat-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.pd-details-addcat-btn-border {
  border-color: #1c86dd;
  color: black;
}

.pd-details-addcat-btn-border:hover {
  background-color: #1c86dd;
  color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 30px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.pd-details-active {
  font-size: large;
  font-weight: bold;
  color: #1c86dd;
}

.related-boos-content {
  margin-left: 20px;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
  margin-bottom: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
