.navbar-fix {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  top: 0;
}
.contents {
  margin-top: 175px;
  margin-left: 74px;
  margin-right: 74px;
}
* {
  box-sizing: border-box;
}
.footer-down {
  position: relative;
  z-index: 1;
}
